  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    body {
        height: 100vh;
        display: flex;
        background-color: white;
    }

    /*Page is split into two*/
    .left-panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 100px;
        background: white;
        overflow-y: auto;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 5px;
        color: #000;
        font-weight: bold;
    }

    p.subtitle {
        margin-bottom: 30px;
        color: #666;
        font-size: 14px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #666;
        font-size: 13px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        background-color: #f9f9f9;
    }

    input:focus {
        border-color: #009e60;
    }


    input.input-error {
        border-color: red;
    }

    .btn-signup {
        width: 100%;
        padding: 15px;
        background-color: #009e60;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
        transition: 0.3s;
    }

    .btn-signup:hover {
        background-color: #007a4a;
    }

    .error-msg {
        color: red;
        background: #ffe6e6;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 14px;
        display: block;
    }

    .hidden {
        display: none;
    }

    .right-panel {
        flex: 1;
        background-image: url('https://paultan.org/image/2023/01/PLUS-Putra-Mahkota-Bangi.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-panel::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }

    .logo-box {
        position: relative;
        z-index: 2;
        background: white;
        padding: 20px 40px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .logo-box img {
        height: 60px;
    }

    @media (max-width: 768px) {
        .right-panel {
            display: none;
        }

        .left-panel {
            padding: 20px;
        }
    }